<main>
  <%= render "public/users/list" %>

  <div class="post-index-top">
    <h3 class="my-4">みんなの投稿</h3>
    <div>
      <h3><strong>全<%= @posts.count %>件</strong></h3>
    </div>
  </div>

  <div class="post-index-box">
  <% @posts.each do |post| %>
    <div class="post-index-list">
      <div>
        <%= image_tag post.image, class:"post-index-image" %>
      </div>
      <div class="post-index-user">
        <div>
          <%= image_tag post.user.get_profile_image(80,80) %>
        </div>
        <div class="ml-2 my-auto">
          <%= link_to post.user.name, post_path(post.id) %><br>
          <%= post.created_at.strftime("%Y/%m/%d") %>
        </div>
        <div class="post-favorite">
          <i class="fa-solid fa-thumbs-up favorite-color"></i> <%= post.favorites.count %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</main>
