<main>

  <%= render "public/homes/header" %>

  <h2 class="new_user">管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（６文字以上） %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-success btn-custom" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</main>

