<% if @user.errors.any? %>
  <div class="error-text mt-4">
    <%= @user.errors.count %>errors occurred
  </div>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <div class="error-text">
      <li><%= message %></li>
    </div>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <h2 class="title"><strong>Member Information Edit Screen</strong></h2>
  
  <!--プロフィール編集　ここから-->
  <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
    <div class="field">
      <strong><%= f.label :"Profile picture：" %></strong>
      <%= f.label :profile_image, class: "image_input_btn" do %>
        <span>Select Image</span>
        <%= f.file_field :profile_image, accept: "image/*", class: "image_input_form" %>
      <% end %>
    </div>
    <div class="field">
      <strong><%= f.label :"Nickname：" %></strong><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="field">
      <strong><%= f.label :"Self-introduction：" %></strong><br>
      <%= f.text_area :self_introduction, class:"form-control", rows:"7" %>
    </div>
    <div class="actions">
      <%= f.submit "Change", class:"btn btn-success btn-custom" %>
    </div>
  <% end %>
  <!--プロフィール編集　ここまで-->
  
  <!--退会ボタン　ここから-->
  <div class="delete-btn">
    <%= link_to "Withdrawal", unsubscribe_path, class:"btn btn-danger delete-btn-custom" %>
  </div>
  <!--退会ボタン　ここ-->
</div>