<% if @post.errors.any? %>
  <div class="error-text mt-4">
    <%= @post.errors.count %>errors occurred
  </div>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <div class="error-text">
        <li><%= message %></li>
      </div>
    <% end %>
  </ul>
<% end %>

<h2 class="title"><strong>Editing Submissions</strong></h2>

<%= form_with model: @post, url: post_path, method: :patch do |f| %>
  <div class="field">
    <strong><%= f.label :"Photos to be submitted：" %></strong><br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-image", id="new-image"></div>
  <div class="field">
    <strong><%= f.label :"explanatory note：" %></strong><br>
    <%= f.text_area :introduction, class:"form-control", rows:"4" %>
  </div>
  <div class="actions">
    <%= f.submit"Save changes", class:"btn btn-success btn-custom" %>
  </div>
<% end %>
<div class="post-delete">
  <%= link_to "Delete a post", post_path(@post.id), method: :delete, class:"btn btn-danger", data: {confirm: "Do you want to delete your post?"} %>
</div>