<main>

  <%= render "public/users/list" %>

  <div class="user-index">
    <div class="follow-title">
      <strong class=""><%= @user.name %></strong>さんのフォロー：<strong class="link-color"><%= @user.following_users.count %>人</strong>
    </div>

    <div>
    <div>
      <% @users.each do |user| %>
        <div class="user-index-card gradient">
          <div class="user-index-img">
            <%= image_tag user.profile_image, class:"user-profile-imgcustom" %>
          </div>
          <div class="user-index-name">
            <%= link_to user.name, user_path(user.id), class:"user-index-namecustom" %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= paginate @users %>
    </div>
    </div>
  </div>
</main>
