<% if @post.errors.any? %>
  <div class="error-text mt-4">
    <%= @post.errors.count %>件のエラーが発生しました
  </div>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <div class="error-text">
        <li><%= message %></li>
      </div>
    <% end %>
  </ul>
<% end %>

<h2 class="title"><strong>投稿の編集</strong></h2>

<!--投稿編集　ここから-->
<%= form_with model: @post, url: post_path, method: :patch do |f| %>
  <div class="field">
    <strong><%= f.label :投稿する写真： %></strong>
    <%= f.label :image, class: "image_input_btn" do %>
      <i class="fa-solid fa-plus"></i>
      <%= f.file_field :image, accept: "image/*", class: "image_input_form" %>
    <% end %>
  </div>
  <div class="form-image", id="new-image"></div>
  <div class="field">
    <strong><%= f.label :説明文： %></strong><br>
    <%= f.text_area :introduction, class:"form-control", rows:"4" %>
  </div>
  <div class="actions">
    <%= f.submit"変更を保存する", class:"btn btn-success btn-custom" %>
  </div>
<% end %>
<!--投稿編集　ここまで-->

<!--投稿削除　ここから-->
<div class="post-delete">
  <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, class:"btn btn-danger", data: {confirm: "投稿を削除しますか？"} %>
</div>
<!--投稿削除　ここまで-->