<% if @post_comment.errors.any? %>
  <div class="error-text mt-4">
  <%= @post_comment.errors.count %>件のエラーが発生しました
  </div>
  <ul>
    <% @post_comment.errors.full_messages.each do |message| %>
    <div class="error-text">
      <li><%= message %></li>
    </div>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row post-show">
      <!--ユーザー情報　ここから-->
      <div class="my-auto">
        <%= image_tag @user.get_profile_image(100,100) %>
      </div>
      <div class="ml-4 my-auto">
        <strong><%= link_to @user.name, user_path(@user.id), class:"link-color" %></strong><br>
        <%= @post.created_at.strftime("%Y/%m/%d") %>
      </div>
      <!--ユーザー情報　ここまで-->

      <!--フォロー　ここから-->
      <% if @user != current_user %>
        <div class="ml-auto my-auto">
          <% if current_user.following?(@user) %>
            <%= link_to "フォローを外す", user_follows_path(@user.id), method: :delete, class:"btn btn-success user-show-btn btn-lg" %>
          <% else %>
            <%= link_to "フォローする", user_follows_path(@user.id), method: :post, class:"btn btn-success user-show-btn btn-lg" %>
          <% end %>
        </div>
      <% else %>
      <% end %>
      <!--フォロー　ここまで-->
  </div>

  <!--投稿写真　ここから-->
  <div class="row post_show_item">
    <%= image_tag @post.image, class:"post-show-img"%>
  </div>
  <!--投稿写真　ここまで-->

  <div class="post_show_content">
    <!--いいね　ここから-->
    <%= render "public/favorites/favorite", post: @post %>
    <!--いいね　ここまで-->

    <!--投稿編集リンク　ここから-->
    <% if @user == current_user %>
      <%= link_to "編集する", edit_post_path(@post.id), class:"link-color" %>
    <% end %>
    <!--投稿編集リンク　ここまで-->
  </div>

  <!--投稿説明文　ここから-->
  <div class="post-show-text">
    <%= @post.introduction %>
  </div>
  <!--投稿説明文　ここまで-->

  <!--コメントフォーム　ここから-->
  <div id="comment_input">
    <%= render "public/comments/form", post: @post, post_comment: @post_comment %>
  </div>
  <!--コメントフォーム　ここまで-->

  <!--コメント一覧　ここから-->
  <div id="comment_list">
    <%= render "public/comments/comment_list", post: @post %>
  </div>
  <!--コメント一覧　ここまで-->
</div>