<main>

  <%= render "list" %>

  <div class="admin-index-box">
    <h2 class="admin-index-title"><strong>登録済みのユーザー一覧</strong></h2>
    <!--ユーザー一覧　ここから-->
    <div class="admin-index-list gradient">
      <% @users.each do |user| %>
        <div class="admin-index-user">
          <%= link_to admin_user_path(user.id) do %>
            <div>
              <%= image_tag user.profile_image, class:"admin-user-img" %>
            </div>
            <div class="admin-index-info">
              <span class="admin-index-name"><%= user.name %></span><br>
              <% if user.is_deleted == false %>
                <strong class="admin-index-false">有効</strong>
              <% else %>
                <strong class="is-deleted-true">退会</strong>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <!--ユーザー一覧　ここまで-->
    <div>
      <%= paginate @users %>
    </div>
  </div>
</main>