<div class="notification-index">
  
  <!--通知　ここから-->
  <div>
    <% notifications.each do |n| %>
    <div>
      ・
      <%= link_to user_path(n.visitor), class:"link-color" do %>
        <strong><%= n.visitor.name %></strong>
      <% end %>
      さんが
      
      <% if n.action == "follow" %>
        <%= "あなたをフォローしました。" %>
      <% elsif n.action == "favorite" %>
        <%= link_to "あなたの投稿", n.post, class:"link-color" %>
        <%= "にいいねしました。" %>
      <% else %>
        <% if n.post.user_id == n.visited.id %>
          <%= link_to "あなたの投稿", n.post, class:"link-color" %>
          <%= "にコメントしました。" %>
        <% else %>
          <span>
            <%= link_to post_path(n.post), class:"link-color" do %>
              <%= n.post.user.name %>さんの投稿
            <% end %>
            <%= "にコメントしました。" %>
          </span>
        <% end %>
      <% end %>

      <div class="small text-muted text-right">
        <%= time_ago_in_words(n.created_at) %>
      </div>

    </div>
    <% end %>

  </div>
  <!--通知　ここまで-->
</div>