<main>

  <%= render "public/users/list" %>

  <div class="notification-delete">
    <!--通知削除　ここから-->
    <% if I18n.locale.to_s == "ja" %>
      <%= link_to "通知を削除する", user_notifications_path(current_user.id), method: :delete, class:"btn btn-danger btn-shadow", data: {confirm: "通知を削除しますか？"} %>
    <% else %>
      <%= link_to "Delete Notification", user_notifications_path(current_user.id), method: :delete, class:"btn btn-danger btn-shadow", data: {confirm: "Do you want to delete the notification?"} %>
    <% end %>
    <!--通知削除　ここまで-->

  </div>

  <% if I18n.locale.to_s == "ja" %>
    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render "ja", {notifications: @notifications} %>
      <%= paginate @notifications %>
    <% else %>
      <p class="unnotification-index"><strong>・通知はありません</strong></p>
    <% end %>
  <% else %>
    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render "en", {notifications: @notifications} %>
      <%= paginate @notifications %>
    <% else %>
      <p class="unnotification-index"><strong>・No notification</strong></p>
    <% end %>
  <% end %>




</main>