<header>
      <nav class="navber navber-expand-lg navbar-light mx-0">
        <div class="container login_header d-flex justify-content-between align-items-center">
            <div>
              <% if unchecked_notifications.any? %>
                <%= link_to user_notifications_path(current_user.id), class:"mr-auto" do %>
                  <span class="fa-stack">
                    <i class="fa-regular fa-envelope"></i>
                    <i class="fa-solid fa-circle n-circle fa-stack-1x"></i>
                  </span>
                <% end %>
              <% else %>
                <%= link_to user_notifications_path(current_user.id), class:"mr-auto" do %>
                  <i class="fa-regular fa-envelope"></i>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag "logo.jpg", size:"100x100", class:"logo mx-auto" %>
              <% end %>
            </div>
            <div>
              <button class="navbar-toggeler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "マイページ", user_path(current_user.id), class:"nav-link text-dark" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規投稿をする", new_post_path, class:"nav-link text-dark" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "みんなの投稿", posts_path, class:"nav-link text-dark" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー検索", search_path, class:"nav-link text-dark" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>
        </div>
      </nav>
    </header>