<div>
    <div class="row mt-4">
      <div class="col-3 user-profile-img">
        <%= image_tag user.get_profile_image(170,170) %>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12 mt-2">
            <strong class="user-show-name"><%= user.name %></strong> <%= link_to "変更", edit_user_path(user.id), class:"link-color" %>
          </div>
          <div class="col-12">
            ユーザーID：<%= user.id %><br>
          </div>
          <div class="col-12 mt-2">
            <p>
              フォロー：<strong><%= link_to user.following_users.count.to_s + "人", user_followings_path(user.id), class:"link-color" %></strong>
              　フォロワー：<strong><%= link_to user.follower_users.count.to_s + "人", user_followers_path(user.id), class:"link-color" %></strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3 my-auto">
        <%= link_to "写真を投稿する", new_post_path, class:"btn btn-success user-show-btn btn-lg" %>
      </div>
    </div>

    <% if user.self_introduction != ""  %>
      <div class="row mt-2">
        <div class="col-8 mx-auto user-show-introduction">
          <%= user.self_introduction %>
        </div>
      </div>
    <% else %>
      <div class="row mt-4"></div>
    <% end %>

    <div class="tab-menu">
      <div class="tab-content">
        <%= link_to "投稿一覧", user_path(current_user), remote: true, class:"tab-btn" %>
      </div>
      <div  class="tab-content">
        <%= link_to "いいね一覧", bookmark_path, remote: true, class:"tab-btn" %>
      </div>
    </div>
    <div class="tab-list gradient">
      <% if user.present? %>
        <div class="top_area">
          <%= render "show" %>
        </div>
      <% else %>
        <div class="top_area">
          <%= render "bookmark" %>
        </div>
      <% end %>
    </div>
  </div>