<div>
  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag user.get_profile_image(170,170) %>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12 mt-2">
          <strong class="user-show-name"><%= user.name %></strong>
        </div>
        <div class="col-12">
          ユーザーID：<%= user.id %><br>
        </div>
        <div class="col-12 mt-2">
          <p>
            フォロー：<strong><%= link_to user.followings.count.to_s + "人", user_followings_path(user.id), class:"link-color" %></strong>
              フォロワー：<strong><%= link_to user.followers.count.to_s + "人", user_followers_path(user.id), class:"link-color" %></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-3 my-auto">
      <% if current_user.following?(user) %>
        <%= link_to "フォローを外す", user_follows_path(user.id), method: :delete, class:"btn btn-success user-show-btn btn-lg" %>
      <% else %>
        <%= link_to "フォローする", user_follows_path(user.id), method: :post, class:"btn btn-success user-show-btn btn-lg" %>
      <% end %>
    </div>
  </div>

  <% if user.self_introduction == ""  %>
      <div class="row mt-4"></div>
    <% elsif user.self_introduction == nil %>
      <div class="row mt-4"></div>
    <% else %>
      <div class="row mt-2">
        <div class="col-8 mx-auto user-show-introduction">
          <%= user.self_introduction %>
        </div>
      </div>
    <% end %>

  <div class="tab-menu">
    <div class="tab-content">
      <p class="tab-btn">投稿一覧</p>
    </div>
  </div>
  <div class="tab-list gradient">
    <% if user.present? %>
      <div class="top_area">
        <%= render "show" %>
      </div>
    <% end %>
  </div>
</div>