<main>

  <%= render "list" %>

  <div class="user-index">
    <% if @users.count >= 1 %>
      <div class="user-index-text">
        <strong class="user-count link-color"><%= @users.count %>人</strong> のユーザーが見つかりました
      </div>
      <div class="user-index-list">
        <% @users.each do |user| %>
          <div class="user-index-card gradient">
            <div class="user-index-img">
              <%= image_tag user.get_profile_image(100,100) %>
            </div>
            <div class="user-index-name">
              <%= link_to user_path(user.id), class:"user-index-namecustom" do %>
                <%= user.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="user-index-text">
        <div class="user-count">該当するユーザーはいません</div>
      </div>
    <% end %>
  </div>

</main>