<main>
  <%= render "list" %>

  <div class="container">
    <div class="row mt-4">
      <div class="col-3">
        <%= image_tag @user.get_profile_image(170,170) %>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12 mt-2">
            <strong class="show-user-name"><%= @user.name %></strong> <%= link_to "変更", edit_user_path(@user.id) %>
          </div>
          <div class="col-12">
            ユーザーID：<%= @user.id %><br>
          </div>
          <div class="col-12 mt-2">
            <p>
              フォロー：<%= link_to "〇人", follow_path %>
              フォロワー：<%= link_to "〇人", follower_path %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3 my-auto">
        <%= link_to "写真を投稿する", new_post_path, class:"btn btn-success show-user-btn btn-lg" %>
      </div>
    </div>

    <% if @user.self_introduction %>
      <div class="row mt-2">
        <div class="col-8 mx-auto show-user-introduction">
          <%= @user.self_introduction %>
        </div>
      </div>
    <% else %>
      <div class="row mt-4"></div>
    <% end %>

    <div class="row">
      <div class="col">
        <%= link_to "投稿一覧", user_path(current_user), remote: true, class:"tab-btn" %>
        <%= link_to "いいね一覧", bookmark_path, remote: true, class:"tab-btn" %>
      </div>
    </div>
    <div class="tab-list mt-2">
      <% if @user.present? %>
        <div class="top_area">
          <%= render "show" %>
        </div>
      <% else %>
        <div class="top_area">
          <%= render "bookmark" %>
        </div>
      <% end %>
    </div>
  </div>
</main>